<div class="navbar">
  <div class="title">
    <a href="<%= root_path %>">Bercy Zoo</a>
  </div>
  <input type="checkbox" id="toggler">
  <label for="toggler">
  <% if user_signed_in? && current_user.photo.attached? %>
     <i class="fa fa-bars fa-lg"></i></label>
    <div class="menu">
      <ul class='list'>
        <li><a href=<%= dashboard_path%>><%= cl_image_tag current_user.photo.key, class:"avatar" %></a></li>
        <li><a href= <%= skatespots_path %>>Spots</a></li>
        <li><a href=<%= new_skatespot_path %>>Ajoute un spot</a></li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <li></li>
      </ul>
    </div>
  <% elsif user_signed_in? %>
    <i class="fa fa-bars fa-lg"></i></label>
    <div class="menu">
      <ul class='list'>
        <li><a href=<%= dashboard_path%>>Profil</a></li>
        <li><a href= <%= skatespots_path %>>Spots</a></li>
        <li><a href=<%= new_skatespot_path %>>Ajoute un spot</a></li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <li></li>
      </ul>
    </div>
  <% else %>
    <i class="fa fa-bars fa-lg"></i></label>
    <div class="menu">
      <ul class='list'>
        <li><a href="<%= skatespots_path%>">Spots</a></li>
        <li><%= link_to "Login", new_user_session_path%></li>
      </ul>
  </div>
  <% end %>

</div>
