<div id="connect" data-controller="hello"></div>
<div id='banner'>
  <img src="https://res.cloudinary.com/baptistev/image/upload/v1662639968/P1060849_ne2vwe.jpg" alt="">
</div>
<div id='presentation'>
  <h1><u>Présentation</u></h1>
  <h3>
    Bercy zoo est une association de skate ce trouvant au skate park de Bercy à Paris 12</br>
    Cette association propose des cours de skate ouvert à tous</br>
    ainsi que des évènements
  </h3>
</div>
<div id='card'>
  <div class="row justify-content-around">
    <div class="col-4">
      <div class="asso">
        <a href="#"><i class="fas fa-users"></i></a>
      </div>
    </div>
    <div class="col-4">
      <div class='skatemap'>
        <%= link_to skatespots_path do %>
          <i class="fas fa-map"></i>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="article">
      <%= link_to articles_path do %>
          <i class="fas fa-file-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
 <div class="row justify-content-md-center">
      <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner mt-3">
          <% @skatespots.each_with_index do |skatespot, i| %>
            <div class="carousel-item <%= "active" if i == 0 %>">
              <a href=<%= skatespot_path(skatespot) %>>
                <%= cl_image_tag skatespot.photo.key, class:"d-block w-100 img-show" %>
              </a>
            </div>
          <% end %>
        </div>
        <% if @skatespots.count > 1 %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    </div>
  </div>


<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/bercy_zoo/?hl=fr"><i class="fab fa-instagram"></i></a>
  </div>
  <div class='mail' data-controller='mail'>
    <form action="sendMail();">
     mail
    </form>
  </div>
  <div class="footer-copyright">
    Bercy zoo © 2022
  </div>
</div>
