<div class="container">
  <div class="row justify-content-md-center">
    <div class="col mt-3 mt-3 d-flex justify-content-center">
      <div style="width: 100vh; height:100vh"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col d-flex justify-content-center" style="width: 100vh; height:50vh;">
      <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner mt-3">
          <% @skatespots.each_with_index do |skatespot, i| %>
            <div class="carousel-item <%= "active" if i == 0 %>">
              <a href=<%= skatespot_path(skatespot) %>>
                <%= cl_image_tag skatespot.photo.key, class:"d-block w-100 img-show" %>
              </a>
            </div>
          <% end %>
        </div>
        <% if @skatespots.count > 1 %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
<div>
