<div class="container">
  <div class="m-3 card-skatespot ">
    <div class="card-show">
      <%= cl_image_tag @skatespot.photo.key %>
      <div class="card-skatespot-infos">
        <div>
          <h1 class="m-3"><%= @skatespot.name %></h1>
          <h2 class="m-3"><%= @skatespot.address %></h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div id="conversations">
    <% if @skatespot.conversations.blank? %>
      Lache le premier msg sur <%= @skatespot.name %>
    <% else %>
      <div class="scroll-container">

          <% @skatespot.conversations.each do |conversation| %>
            <% if conversation.user == current_user %>
              <div class="message-user">
                <p id="conversation-<%= conversation.id %>">
                  <% if conversation.photo.attached? %>
                    <%= conversation.content %>
                    <%= cl_image_tag conversation.photo.key %>
                  <% else %>
                    <%= conversation.content %>
                  <% end %>
                </p>
              </div>
            <% else %>
              <div class="message-other">
                <p id="conversation-<%= conversation.id %>">
                  <% if conversation.photo.attached? %>
                    <%= conversation.content %>
                    <%= cl_image_tag conversation.photo.key %>
                  <% else %>
                    <%= conversation.content %>
                  <% end %>
                  <%= conversation.user.username %>
                </p>
              </div>
            <% end %>
          <% end %>
      </div>
    <% end %>
      <div class="form mb-5">
        <%= simple_form_for([ @skatespot, @conversation ]) do |f| %>
          <div class="button-form">
            <%= f.input :content, as: :text %>
            <span class="file-wrapper">
              <span class="button"> <i class="fas fa-camera"></i> <%= f.input :photo %></span>
            </span>
            <%= f.button :submit,"Envoyer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
  </div>
  <%#   <%= link_to "Delete", skatespot_path(@skatespot), :confirm => "Are you sure?", :method => :delete %>
