<div class="container">
  <div class="m-3 card-skatespot ">
    <div class="card-show">
      <%= cl_image_tag @skatespot.photo.key %>
      <div class="card-skatespot-infos">
        <div>
          <h1 class="m-3"><%= @skatespot.name %></h1>
          <h2 class="m-3"><%= @skatespot.address %></h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div id="conversations">
  <% if @skatespot.conversations.blank? %>
    Lache le premier msg sur <%= @skatespot.name %>
  <% else %>
    <% @skatespot.conversations.last(6).each do |conversation| %>
      <% if conversation.user == current_user %>
        <div class="message-user">
          <h2>
            <%= conversation.content %>
          </h2>
        </div>
      <% else %>
        <div class="message-other">
          <h2>
            <%= conversation.content %>-
            <%= conversation.user.username %>
          </h2>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= simple_form_for([ @skatespot, @conversation ]) do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.button :submit,"send message", class: "btn btn-primary" %>
  <% end %>
</div>
  <%#   <%= link_to "Delete", skatespot_path(@skatespot), :confirm => "Are you sure?", :method => :delete %>
